body {
    background-image: url(../img/shattered.png);
}

.logo {
    font-family: 'peralta', cursive;
}

.logo a {
    color: #000000;
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}