{% extends 'base.html' %}
{% load static %}

{%block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{%endblock%}

{%block body%}
<div class="container">
    <h1 class="text-center logo my-4">
       <a href="{% url 'home' %}">Django Boards</a></h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
         <div class="card">
            <div class="card-body">
                 <h3 class="card-title">Sign Up</h3>   
                <form method="post"  novalidate>
                      {% csrf_token %}
                      {% include  'includes/form.html' %}
                      <button type="submit" class="btn btn-primary">Creat New User</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
               Already have an account? <a href="{%url 'login'%}">Log in</a>
            </div>
        </div>
    </div>               
</div>   
{%endblock%}
{%block javascript %}
<script>
   $("#id_username").change(function(){
      var username =$(this).val() ;
      var form = $(this).closest("form");
      $.ajax({
          url:'ajax/validate_username/',
          data:form.serialize(),
          dataType:'json',
          success: function(data){
              if (data.is_taken){

                  $("#user_error").text(data.error_message);
                  $("#user_error").css("display","block");
             }
              else{
               $("#user_error").css("display","none");
              }
              
          }

      });
   });
</script>

{%endblock javascript %}